html,
body {
  height: 100%;
}
body {
  font-size: 14px;
  color: #666;
  margin: 0;
  background: no-repeat center center;
  font-family: 'Microsoft Yahei';
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: inherit;
}
dl,
dd,
p {
  margin: 0;
}
.input {
  border: none;
  padding: 0 10px;
}
.btn {
  background: #2d6fdb;
  display: inline-block;
  text-align: center;
  line-height: 38px;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  padding: 0 20px;
  border: 1px solid #2d6fdb;
}
.btn:hover {
  color: #fff;
}
.main {
  width: 1300px;
  margin: 0 auto;
}
.layout-two-column {
  padding-left: 250px;
  background: #fff;
}
.layout-two-column .layout-left-column {
  position: absolute;
  margin-left: -250px;
  padding: 20px;
  width: 230px;
  padding-right: 0;
}
.layout-two-column .layout-right-column {
  padding: 20px;
}
.layout-list-vertical .item-box {
  line-height: 47px;
  border-bottom: 1px solid #EAEAEA;
  display: block;
  padding: 0 20px;
  color: #666;
}
.layout-list-vertical .item-box:first-child {
  border-top: 1px solid #EAEAEA;
}
.layout-list-vertical .item-box:hover {
  background: #EDF4FF;
  color: #598BDD;
}
.layout-list-vertical .item-box:hover .item-tip {
  color: inherit;
}
.layout-list-vertical .item-box .item-tip {
  color: #999;
  float: right;
}
.layout-list-btn-vertical .layout-list-btn {
  line-height: 40px;
  text-align: center;
  background: #F4F4F4;
  display: block;
  margin-top: 10px;
  color: #333;
}
.layout-list-btn-vertical .layout-list-btn:hover {
  background: #598BDD;
  color: #fff;
}
.layout-list-btn-vertical .layout-list-btn.active {
  background: #598BDD;
  color: #fff;
}
.layout-list-btn-vertical .layout-list-btn:first-child {
  margin-top: 0;
}
.pagination-box {
  text-align: right;
  padding-top: 20px;
}
.header {
  line-height: 70px;
  text-align: right;
  color: #fff;
}
.header .sign-box {
  color: #fff;
  display: inline-block;
}
.header .news-link {
  padding-right: 12px;
}
.header .sign-link {
  padding: 0 12px 0 15px;
  line-height: 30px;
  display: inline-block;
  position: relative;
}
.header .sign-link:before {
  content: '';
  position: absolute;
  left: 0;
  border-left: 1px solid;
  height: 18px;
  top: 6px;
}
.header .sign-link:first-child:before {
  display: none;
}
.header .sign-link:hover .person-info-box {
  display: block;
}
.header .sign-link .person-info-box {
  position: absolute;
  right: 0;
  top: 100%;
  background: #fff;
  color: #333;
  width: 100px;
  line-height: 40px;
  text-align: center;
  display: none;
}
.header .sign-link .person-info-box .person-info-item {
  display: block;
}
.header .sign-link .person-info-box .person-info-item:hover {
  background: #eaf0fb;
}
.nav {
  color: #fff;
  text-align: center;
  background: #2f6ed5;
  font-size: 0;
}
.nav .nav-item {
  display: inline-block;
  width: 118px;
  height: 75px;
  padding-top: 15px;
}
.nav .nav-item:hover {
  background: #598BDD;
}
.nav .nav-item .iconfont {
  font-size: 28px;
}
.nav .nav-item .nav-item-text {
  font-size: 18px;
}
.nav .nav-item.active {
  background: #598BDD;
}
.nav-search {
  padding-bottom: 30px;
}
.nav-search .site-box {
  color: #fff;
}
.nav-search .site-box .site-name {
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 9px;
  line-height: 1;
}
.nav-search .site-box .site-name-en {
  font-size: 12px;
  padding-top: 8px;
}
.nav-search .site-search-box {
  float: right;
}
.nav-search .site-search-box .btn {
  margin-left: -4px;
  width: 60px;
}
.nav-search .site-search-box .input {
  line-height: 40px;
  width: 370px;
  background: #d7ecff;
}
.nav-path {
  line-height: 50px;
  border-bottom: 1px solid;
  font-size: 18px;
  background: #F4F4F4;
  color: #2D6FDB;
  padding: 0 20px;
}
.nav-path .nav-path-detail {
  float: right;
  color: #666;
  font-size: 14px;
}
.footer {
  text-align: center;
  color: #fff;
  line-height: 55px;
  position: relative;
  margin-top: 40px;
}
.footer:before {
  background: #000;
  opacity: .6;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  content: '';
  z-index: -1;
}
.bg_f4 {
  background: #F4F4F4;
}
.article-detail-page .article-detail-title {
  background: #2D6FDB;
  color: #fff;
  font-size: 18px;
  padding: 0 20px;
  line-height: 50px;
  height: 50px;
}
.article-detail-page .article-detail-body {
  background: #fff;
}
