.dengluzhuce-page {
  width: 420px;
  margin: 0 auto;
}
.dengluzhuce-page .layui-tab-title li {
  width: 190px;
}
.dengluzhuce-page .layui-tab-title .layui-unselect {
  display: none;
}
.dengluzhuce-page .login-form .layui-input-block {
  margin-left: 0;
}
.dengluzhuce-page .login-form .layui-input-block .login-label {
  color: #333;
  line-height: 30px;
}
.dengluzhuce-page .register-form .layui-form-label {
  color: #333;
  padding-left: 0;
  width: 70px;
}
.dengluzhuce-page .register-form .layui-form-item:first-child .regiter-form-title {
  margin-top: 15px;
}
.dengluzhuce-page .register-form .regiter-form-title {
  font-size: 16px;
  color: #333;
  border-left: 2px solid #598BDD;
  line-height: 1;
  padding-left: 10px;
  margin-top: 25px;
}
.dengluzhuce-page .register-form .layui-input-block {
  margin-left: 85px;
}
