.jiaocaifankui-page .p1 {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  line-height: 50px;
}
.jiaocaifankui-page .p2 {
  color: #333;
  font-size: 14px;
  line-height: 30px;
}
.jiaocaifankui-page .t1 {
  color: #598BDD;
  font-weight: bold;
}
