body,
p {
  margin: 0;
}
body {
  font-size: 14px;
}
a {
  text-decoration: none;
  color: inherit;
}
.main {
  width: 1200px;
  margin: 0 auto;
}
.header {
  background: #143c7c;
  height: 150px;
  line-height: 150px;
}
.header .logo {
  width: 400px;
  height: 150px;
}
.header .img {
  width: 750px;
  float: right;
  height: 150px;
}
.nav {
  background: #164ca2;
  height: 60px;
  line-height: 60px;
  color: #fff;
}
.nav .nav-list-box .nav-item {
  display: inline-block;
  position: relative;
  padding: 0 30px;
  font-size: 16px;
}
.nav .nav-list-box .nav-item + .nav-item {
  margin-left: -3px;
}
.nav .nav-list-box .nav-item.active {
  background: #1c61cf;
}
.nav .nav-list-box .nav-item:hover {
  background: #1c61cf;
}
.nav .nav-list-box .nav-item:first-child:before {
  display: none;
}
.nav .nav-list-box .nav-item:before {
  position: absolute;
  height: 16px;
  border-left: 1px solid #8ba6d1;
  top: 23px;
  content: '';
  left: 0;
}
.nav .search-box {
  float: right;
  padding-right: 90px;
}
.nav .search-box .input {
  padding: 5px 10px;
  background: #8ba6d1;
  border: none;
  outline: 0;
  height: 26px;
  width: 250px;
  color: inherit;
  font-size: inherit;
}
.nav .search-box .search-btn {
  height: 36px;
  line-height: 36px;
  float: right;
  margin-right: -90px;
  width: 90px;
  background: #1c61cf;
  margin-top: 12px;
  text-align: center;
}
.main-content {
  background: #fff;
  padding: 40px 0 30px;
}
.main-content .text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main-content .swiper-container {
  width: 430px;
  height: 260px;
  margin: 0;
}
.main-content .swiper-container .swiper-pagination {
  right: 0;
  width: 110px;
  left: auto;
  text-align: right;
}
.main-content .swiper-container .swiper-pagination .swiper-pagination-bullet {
  background: #fff;
  opacity: 1;
}
.main-content .swiper-container .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #2d6fdb;
}
.main-content .swiper-container .img {
  display: block;
}
.main-content .swiper-container .img-link {
  display: block;
  position: relative;
}
.main-content .swiper-container .img-text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 35px;
  line-height: 35px;
  color: #fff;
  background: #000000;
  background: rgba(0, 0, 0, 0.7);
  padding: 0 110px 0 10px;
}
.main-content .tab-box .tab-head-box {
  font-size: 0;
  border-bottom: 1px solid #eaeaea;
  color: #666;
}
.main-content .tab-box .tab-head-box .head-more {
  font-size: 14px;
  color: #1c61cf;
  float: right;
  margin-top: 10px;
}
.main-content .tab-box .tab-head-item {
  font-size: 16px;
  display: inline-block;
  position: relative;
  line-height: 40px;
  padding: 0 5px;
}
.main-content .tab-box .tab-head-item:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  display: none;
  border-bottom: 2px solid;
}
.main-content .tab-box .tab-head-item.active {
  color: #1c61cf;
}
.main-content .tab-box .tab-head-item.active:before {
  display: block;
}
.main-content .tab-box .tab-head-item + .tab-head-item {
  margin-left: 20px;
}
.main-content .tab-box .tab-body {
  display: none;
}
.main-content .news-list-box {
  padding: 10px 0 0;
}
.main-content .news-list-box .news-item {
  color: #333;
  height: 35px;
  line-height: 35px;
  display: block;
}
.main-content .news-list-box .news-item:hover {
  color: #1c61cf;
}
.main-content .news-list-box .news-item.new {
  color: red;
}
.main-content .news-box .news-item {
  padding-right: 90px;
}
.main-content .news-box .news-day {
  color: #999;
  float: right;
  margin-right: -90px;
}
.main-content .news-box .iconfont {
  float: right;
  margin-top: -10px;
  margin-right: -20px;
}
.main-content .content-main {
  margin-right: 325px;
}
.main-content .content-main .news-top-box {
  float: right;
  width: 430px;
}
.main-content .content-main .news-bottom-box {
  width: 430px;
}
.main-content .content-main .propaganda-img {
  display: block;
  height: 100px;
  margin: 20px 0 10px;
}
.main-content .content-main .propaganda-img .img {
  width: 100%;
  height: 100%;
}
.main-content .aside-main {
  width: 310px;
  float: right;
}
.main-content .aside-main .contribute-box {
  background: #e7edf6;
  padding: 0 50px 20px;
  color: #1c61cf;
  font-size: 16px;
  line-height: 45px;
  margin-bottom: 20px;
}
.main-content .aside-main .contribute-box .contribute-btn {
  display: block;
  background: #457dd7;
  color: #fff;
  text-align: center;
  line-height: 30px;
}
.main-content .aside-main .news-title {
  line-height: 40px;
  background: #e7edf6;
  font-size: 16px;
  color: #1c61cf;
  padding: 0 10px;
  margin-top: 13px;
}
.main-content .aside-main .news-title .more {
  float: right;
  font-size: 14px;
}
.main-content .aside-main .friend-link-box .friend-link-wrap {
  margin-left: -10px;
  overflow: hidden;
}
.main-content .aside-main .friend-link-box .friend-item {
  line-height: 32px;
  background: #eaeaea;
  float: left;
  padding: 0 10px;
  margin: 10px 0 0 10px;
}
.footer {
  background: #164ca2;
  height: 190px;
  padding-top: 40px;
  line-height: 35px;
  color: #dddddd;
}
.footer .footer-item-title {
  font-size: 16px;
}
.footer .wechat-box {
  float: right;
  width: 140px;
}
.footer .wechat-box .qrcode-img {
  width: 90px;
  display: block;
  height: 90px;
  background: #fff;
  padding: 5px;
}
.footer .wechat-box .text {
  font-size: 12px;
}
.footer .contact-us-box {
  font-size: 16px;
  float: right;
  width: 310px;
}
.footer .contact-us-box .telephone {
  font-size: 24px;
}
.footer .about-us-box {
  width: 660px;
  padding-left: 90px;
}
.footer .about-us-box .flag-img {
  width: 60px;
  height: 60px;
  position: absolute;
  margin-left: -90px;
  margin-top: 65px;
}
.footer .about-us-box .link-item + .link-item {
  margin-left: 60px;
}
.page-icon-box {
  position: fixed;
  right: 60px;
  bottom: 220px;
}
.page-icon-box .icon-link {
  display: block;
  width: 50px;
  height: 50px;
  background: #457dd7;
  color: #fff;
  text-align: center;
  line-height: 50px;
}
.page-icon-box .icon-link + .icon-link {
  margin-top: 5px;
}
.page-icon-box .icon-link .iconfont {
  font-size: 30px;
}
