.zhidaoweiyuanhuimulu-page .zhidao-title {
  font-size: 18px;
  color: #333;
  margin-bottom: 15px;
  padding-left: 10px;
  border-left: 2px solid #598BDD;
  line-height: 1;
}
.zhidaoweiyuanhuimulu-page .zhidao-item-box {
  background: #F4F4F4;
  margin-right: 13px;
  margin-bottom: 15px;
  width: 320px;
  display: inline-block;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: #333;
}
.zhidaoweiyuanhuimulu-page .zhidao-item-box:hover {
  color: #2D6FDB;
  background: #EDF4FF;
}
