.zhiyebiaozhun-page .layout-list-vertical {
  position: relative;
}
.zhiyebiaozhun-page .download-form {
  display: none;
}
.zhiyebiaozhun-page .item-box:hover .download {
  display: block;
}
.zhiyebiaozhun-page .download {
  float: right;
  margin-right: 20px;
  display: none;
}
