.jiaoan-page{
  .jiaoan-item-box{
    display: inline-block;
    width: 240px;
    margin-right: 9px;
    margin-bottom:15px;
    .jiaoan-item-link{
      display: block;
      position: relative;
      height: 160px;
      background: #F4F4F4;
      &:hover{
        box-shadow: 0px 0px 5px 2px #ccc;
      }
      &.shipin{
        &:hover{
          &:before{
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background: #000;
            opacity: .2;
          }
        }
      }
      &.ppt{
        .iconfont{
          color: #FF9843;
        }
      }
      &.pdf{
        .iconfont{
          color: #EB6F6F;
        }
      }
      &.doc{
        .iconfont{
          color: #4D97FF;
        }
      }
    }
    .iconfont{
      position: absolute;
      left: 50%;
      top: 50%;
      font-size: 60px;
      margin-left: -30px;
      margin-top: -30px;
    }
    .edu-bofang{
      color: #598BDD;
      z-index: 1;
      &:after{
        content: '';
        background: #fff;
        width: 30px;
        height: 30px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -15px;
        margin-top: -15px;
        z-index: -1;
      }
    }
    .jiaoan-title{
      color: #333;
      line-height: 30px;
      padding-top: 5px;
      height: 30px;
    }
    .jiaoan-time{
      line-height: 20px;
      padding-bottom: 10px;
    }
    .img{
      width: 100%;
      height: 100%;
    }
    .jiaoan-download{
      display: block;
      line-height: 35px;
      height: 35px;
      color: #2D6FDB;
    }
  }
}